* {
    all: unset;
}
div {
    display: revert; /* = block */
}
span {
    display: revert; /* = inline */
}
table {
    display: revert; /* = table */
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font: 500 14.5px Ubuntu;
  color: white;
}

#result-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#transcription {
  padding: 16px;
  line-height: 1.6;
}

#frame-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#frame-layer canvas {
  width: 100%;
  height: 100%;
  display: block;
}
