* {
  all: unset;
}
div {
  display: revert; /* = block */
}
p {
  display: revert; /* = block */
}
span {
  display: revert; /* = inline */
}
table {
  display: revert; /* = table */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font: 400 14.8px Ubuntu;
  color: rgba(255, 255, 255, 0.72);
  transition: opacity 0.14s ease-out;
}

body.mouse-is-over {
  opacity: 0.02;
}

body.dev-mode.mouse-is-over {
  opacity: 0.8;
}

#overlay-layer,
#result-layer,
#frame-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#overlay-layer {
  display: none;
  z-index: 3;
}

#result-layer {
  z-index: 2;
}

#frame-layer {
  z-index: 1;
}

#asr-state {
  padding: 6px;
}

.has-focus {
  color: rgba(255, 255, 255, 0.92);
}

#transcription {
  padding: 4px 12px 8px;
  line-height: 1.7;
  background: rgba(10, 10, 25, 0.1);
  border-radius: 8px;
}

#transcription p,
#command p {
  text-wrap: stable;
  transition: color 0.3s ease;
}

#transcription p + p {
  margin-top: 8px;
}

#command {
  margin-top: 8px;
  padding: 8px;
  border: 2px solid rgba(120, 30, 30, 0.6);
  background: rgba(#241f2f, 0.8);
  border-radius: 8px;
}

#frame-layer canvas {
  width: 100%;
  height: 100%;
  display: block;
}
