* {
  all: unset;
  box-sizing: border-box;
}

div {
  display: revert;
  /* = block */
}

p {
  display: revert;
  /* = block */
}

span {
  display: revert;
  /* = inline */
}

table {
  display: revert;
  /* = table */
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font: 400 16.4px Ubuntu;
  opacity: 0;
  transition: opacity 0.14s ease-out;
}

body.dev-mode {
  opacity: 0.4;
}

body.active {
  opacity: 1;
}

body.active.mouse-is-over {
  opacity: 0.02;
}

body.active.mouse-is-over.dev-mode {
  opacity: 0.8;
}

#overlay-layer,
#result-layer,
#frame-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#overlay-layer {
  z-index: 3;
  transition:
    opacity 160ms ease 100ms,
    display 100ms allow-discrete;
  display: none;
  opacity: 0;
}

.command-executing #overlay-layer {
  display: block;
  opacity: 1;
}

@starting-style {
  .command-executing #overlay-layer {
    display: block;
    opacity: 0;
  }
}

#transcription-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 18px Ubuntu;
  color: rgba(255, 255, 255, 0.92);
  background-color: rgba(0, 0, 25, 0.7);
  border-radius: 8px;
}

#result-layer {
  z-index: 2;
}

#frame-layer {
  z-index: 1;
}

#asr-state,
#overlay-layer {
  padding: 8px;
}

#transcription,
#command {
  color: rgba(255, 255, 255, 0.5);
}

#transcription {
  padding: 4px 12px 4px;
  line-height: 1.8;
  background: rgba(10, 10, 25, 0.2);
  border-radius: 8px;
  transition: color 160ms;
}

#command {
  font: 200 0.9em / 1.6 'Ubuntu';
  margin-top: 14px;
  padding: 8px 12px 7px;
  border-radius: 8px;

  transition:
    opacity 160ms ease 100ms,
    display 100ms,
    color 160ms,
    border-color 160ms;
  transition-behavior: allow-discrete;
  display: none;
  opacity: 0;
}

.command-visible #command {
  display: block;
  opacity: 1;
}

@starting-style {
  .command-visible #command {
    display: block;
    opacity: 0;
  }
}

// Flashing cursor, mimicking Sublime Text's phase, which I always liked
.transcribe-active #transcription>p:empty::before,
.command-active #command>p:empty::before {
  content: ' ';
  display: inline-block;
  vertical-align: bottom;
  width: 1px;
  height: 1.4em;
  background: white;
  animation: sine-fade 1.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

@keyframes sine-fade {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

#transcription>p:empty::after,
#command>p:empty::after {
  content: '\00a0';
}

.transcribe-active #transcription,
.command-active #command {
  color: rgba(255, 255, 255, 0.92);
}

.command-active #command {
  border-color: rgba(160, 30, 30, 0.8);
}

#transcription p,
#command p {
  text-wrap: stable;
  transition: color 0.3s ease;
}

#transcription p+p {
  margin-top: 8px;
}

.segment + .segment::before {
  content:' ';
}

#frame-layer canvas {
  width: 100%;
  height: 100%;
  display: block;
}
